body {
  font-family: 'Roboto', Arial, sans-serif;
  background-color: #ffffff;
  margin: 0;
}

h1 {
  border-bottom: 5px solid #000000;
  margin: 0;
  padding: 10px 20px;
}

.contenedor-imagen {
  text-align: right;      
  margin: 20px 60px 20px 0; 
}

.foto {
  display: inline-block;
  border: 5px solid #000000;
}

.menu {
  list-style: none;
  padding: 0;
  margin: 0;
  display: inline-flex;
}

#menu-inferior {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.menu li {
  border-left: 5px solid red;
  padding: 5px 10px;
  margin: 0 5px;
}

.menu a {
  text-decoration: none;
  color: #333;
}

.menu a:hover {
  text-decoration: underline;
  text-decoration-color: red;
}

main {
  width: 90vw;
  margin: 20px auto;
  box-sizing: border-box;
}

main p {
  margin: 10px 0;
  padding: 10px;
  box-shadow: 0 0 10px rgba(17, 15, 15, 0.3);
  text-indent: 40px;
}

.p1 {
  border-radius: 30px 30px 0 0;
  background-image: url(https://imgs.search.brave.com/IQ6E1v6ctdpccVzH0Q-7USXYYnh0AySuNy7OAV-Z_3k/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly93YWxs/cGFwZXJzLmNvbS9p/bWFnZXMvaGQvNGst/bG9sLWNvdmVuLWNh/bWlsbGUtc2tpbi05/OGxhbjFyZTNxY2Rv/MTduLmpwZw);
  background-repeat: repeat;
}

.p3 {
  border-radius: 0 0 30px 30px;
}

footer {
  border-top: 5px solid #3920c9;
  text-align: center;
  background-color: #28da30;
  padding: 0;
  margin: 0;
}

footer p {
  margin: 0;
  padding: 0;
}

@media all and (max-width: 500px) {
  .foto {
    float: none;
    display: block;
    margin: 10px auto;
    width: 90%;
    height: auto;
    border: 3px solid red;
  }
}
